h1 {color: #0066ff}

p {color:darkgreen}

a:hover {color: coral}

.button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid rgb(226, 10, 10);
  border-right: 1px solid rgb(226, 10, 10);
  border-bottom: 1px solid rgb(226, 10, 10);
  border-left: 1px solid rgb(226, 10, 10);
}